@font-face {
  font-family: 'iconfont';  /* Project id 2890979 */
  src: url('//at.alicdn.com/t/font_2890979_yangrai936.woff2?t=1635495993671') format('woff2'),
       url('//at.alicdn.com/t/font_2890979_yangrai936.woff?t=1635495993671') format('woff'),
       url('//at.alicdn.com/t/font_2890979_yangrai936.ttf?t=1635495993671') format('truetype');
}
  
.iconfont {
font-family: "iconfont" !important;
font-size: 16px;
font-style: normal;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}